@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html,
body,
#map {
  margin: 0px;
  height: 100%;
  width: 100%;
}

#map {
  z-index: 1;
  position: relative;
}

/* #follow {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 42;
} */

#infoPanel {
  padding: 15px;
  border-radius: 5px;
  /* width: 300px; */
  bottom: 25px;
  left: 25px;
  position: absolute;
  z-index: 40;
  pointer-events: none;
  background-color: #f8b229;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.info-board-container {
  bottom: 25px;
  position: absolute;
  z-index: 40;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#info-board {
  z-index: 40;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
